
[Unit]
Description=Example .NET Web API App running on Apache
[Service]

User=root
WorkingDirectory=/var/www/dotnetUbuntu1.1.com.com
ExecStart=/usr/bin/dotnet /var/www/dotnetUbuntu1.1.com.com/WebApplication9.dll --urls=http://localhost:5009 

Restart=always
[Install]
WantedBy=multi-user.target
