[Unit]
Description=Example .NET Web API App running on Apache
[Service]

User=root
WorkingDirectory=/var/www/dotnetubuntu1.com
ExecStart=/usr/bin/dotnet /var/www/dotnetubuntu1.com/WebApplication9.dll --urls=http://localhost:5007

Restart=always
[Install]
WantedBy=multi-user.target